@import url('https://fonts.googleapis.com/css?family=Big+Shoulders+Display&display=swap');
html {
    --main-color: teal;
    font-size: 62.5%;
    font-family: 'Big Shoulders Display', cursive;
}

body {
    font-size: 2.5rem;
}

#nav {
    display: flex;
    position: fixed;
    width: 100%;
    background-color: #ccc;
    -webkit-box-shadow: 2px 5px 16px -8px rgba(0, 0, 0, 1);
    -moz-box-shadow: 2px 5px 16px -8px rgba(0, 0, 0, 1);
    box-shadow: 2px 5px 16px -8px rgba(0, 0, 0, 1);
}

.nav-item, a.nav-item {
    padding: 1.5rem;
    cursor: pointer;
    color: var(--main-color);
    font-size: 3rem;
    display: inline-block;
}

.header {
    color: var(--main-color);
    font-size: 5rem;
    padding: 1.5rem;
}

.my-container {
    display: grid;
    max-width: 500px;
    margin: auto;
    padding: 10rem 1em 1em 1em;
    text-align: center;
}

.sub-header {
    font-size: 4rem;
    padding: 1rem;
}